.Weather {
  border: 1px solid;
  border-radius: 10px;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
}
.Weather h1,
form {
  display: inline-block;
}
.Weather input {
  border-radius: 15px;
  line-height: 30px;
}
.Weather li {
  list-style: none;
}
