.Weather {
  margin-top: 25px;
  border: 1px solid;
  border-radius: 10px;
  background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
}
.Weather h1,
form,
input {
  display: inline;
}
.Weather input {
  border-radius: 15px;
}
.Weather canvas {
  width: 80px;
}
.Weather li {
  list-style: none;
}

.Weather .description {
  font-style: italic;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 94px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather .info {
  font-weight: bold;
  font-size: 18px;
}
